# name: Android CI

# on:
#   push:
#     branches: [ "master" ]
#   pull_request:
#     branches: [ "master" ]

# jobs:
#   build:

#     runs-on: ubuntu-latest

#     steps:
#     - uses: actions/checkout@v4
#     - name: set up JDK 11
#       uses: actions/setup-java@v4
#       with:
#         java-version: '11'
#         distribution: 'temurin'
#         cache: gradle

#     - name: Grant execute permission for gradlew
#       run: chmod +x gradlew
#     - name: Build with Gradle
#       run: ./gradlew build

name: Android CI

on:
  push:
    branches:
      - main
      - qa
      - develop
  pull_request:
    branches:
      - main
      - qa

# Workflow-level environment variable
env:
  AWS_DEFAULT_REGION: ap-south-1

jobs:
  build:
    name: Android CI Build
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout source code
        uses: actions/checkout@v3

      # Setup Java
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11

      # Grant permission to Gradle wrapper
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Clean project
      - name: Clean project
        run: ./gradlew clean

      # Run lint checks
      - name: Run Android Lint
        run: ./gradlew lint

